{% extends "base.html" %}
{% block title %}CM Se{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="" method=post>
        <textarea name="data" cols=50 rows=8>
        </textarea>
        <label for="bench_check">Benchmark</label>
        <input type="checkbox" name=bench_check>
        <button class="btn btn-lg btn-primary submit-button" type="submit">Fit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
